@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
	font-family: 'Courier Prime', monospace;
}

h1, h2, h3, h4, h5, h6 {
	color: white;
	text-align: center;
	/* margin-bottom: 0.8em; */
}

h1 {
	color: white;
	font-size: 3em;
}

h2 {
	padding-top: 1em;
}


#app {
	background-color: #222;
	height: 100vh;
	width: 100vw;
 }

#start {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.img-virus-start {
	width: 20%;
	max-width: 120px;
}

.player-info {
	color: white;
	border: 1px solid #CDD7E2;
	border-radius: 3px;
	margin-top: 1rem;
	padding: 1em;
	padding-bottom: 0;
}

#player-form {
	margin-top: 2rem;
	text-align: center;
}

.hide {
	display: none !important;
}

#game-view {
	display: flex;
	justify-content: space-between;
	height: 100vh;
}

.gameboard {
	margin-left: 5rem;
	margin-right: 5rem;
	width: 70%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

#playing-field {
	background-image: url("../images/world_map.png");
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	height: 420px;
	width: 420px;
	border: 1px solid #CDD7E2;
	border-radius: 3px;
	position: relative;
}

#playing-field.hide {
	display: none;
}

#timer {
	color: red;
	font-size: 2em;
	position: fixed;
	top: 1rem;
	left: 1.5rem;
}

#img-virus-play {
	width: 3%;
	position: absolute;
	top: 200px;
	left: 200px;
}

#game-data {
	color: white;
	width: 20%;
	border-left: 1px solid #CDD7E2;
}

#game-data h3 {
	color: #28A745;
	font-size: 1em;
	text-align: left;
	margin-bottom: 0;
	padding: 0.5rem 0.75rem;
}

#game-data ul {
	margin: 0;
	padding: 0.5rem 0.75rem;
	list-style: none;
}

#active-players .notification {
	background-color: white;
	font-style: italic;
}

#game-over {
	background-image: url("../images/virus.png");
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	height: 420px;
	width: 420px;
	border: 1px solid #CDD7E2;
	border-radius: 3px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#game-over h3 {
	color: red;
	font-size: 2em;
}

#game-over p {
	color: red;
	font-size: 1.5em;
}

#game-over.hide {
	display: none;
}

#congratulations {
	background-image: url("../images/kill-virus.png");
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	height: 420px;
	width: 420px;
	border: 1px solid #CDD7E2;
	border-radius: 3px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#congratulations h3 {
	color: red;
	font-size: 2em;
}

#congratulations p {
	color: red;
	font-size: 1.5em;
}

#congratulations.hide {
	display: none;
}
